body{
	background-color: #EEE;
	font-family: Helvetica, Arial, sans-serif;
}

a{
	text-decoration:none;
	color:red;
}

h1, h2, h3 {
	margin: 0;
}

#container{
	background-color: white;
	width:1500px;
	margin-left: auto;
	margin-right: auto;
}


#header{
	background-color: #66CCFF;
  width:1380px;
	color: white;
	text-align: center;
	padding: 40px;
}

#content{
	padding: 100px;
}

#nav{
	width:180px;
	float:left;
}

#nav ul{
	list-style-type: none;
	padding: 0;
}

#main{
	width:600px;
	float:right;
}

#main ul{
	list-style-type: none;
	padding: 0;
}

#footer{

	clear:both;
	padding: 20px;
	background-color: #999999;
	color: white;
	text-align: left;
}

#footer ul{
	list-style-type: none;
	color: white;
}
